* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.heading-container {
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 48px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 35px;
    width: 1000px;
    height: 700px;
    margin: auto;
    margin-top: 40px;
}

h2 {
    position: absolute;
    top: -15px;
    left: 15px;
    color: white;
    font-size: 32px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

a {
    text-decoration: none;
}

p {
    margin: 0 auto;
}

a > div {
    position: relative;
    width: 450px;
    height: 300px;
    border: 1px solid black;
    border-radius: 15px;
}

.footerContainer {
    text-align: center;
    margin-top: 85px;
    color: black;
    font-size: 22px;
}

i {
    margin: 0 5px;
}

.a {
    background-image: url(../img/bun-bo-nam-bo.jpg);
    background-size: 450px 300px;
    background-repeat: no-repeat;
}

.b {
    background-image: url(../img/bun-cha.jpg);
    background-size: 450px 300px;
    background-repeat: no-repeat;
}

.c {
    background-image: url(../img/pho-bo.jpg);
    background-size: 450px 300px;
    background-repeat: no-repeat;
}

.d {
    background-image: url(../img/pad-thai.jpg);
    background-size: 450px 300px;
    background-repeat: no-repeat;
}